---
source: magicians
topic_id: 13815
title: Withdrawal Credential timings and verification
author: t814816
date: "2023-04-14"
category: Uncategorized
tags: []
url: https://ethereum-magicians.org/t/withdrawal-credential-timings-and-verification/13815
views: 415
likes: 0
posts_count: 1
---

# Withdrawal Credential timings and verification

How long does it take for a deposit Withdrawal Credential to change from 0x00 to 0x01.  I think I read somewhere that it could take 60 hours or so.  I was wanting to know its status, like in the que as such.  I want to avoid waiting only to find out I missed something and it had not been processed correctly to begin with.
