---
source: magicians
topic_id: 13968
title: "ERC: Standard Interface for ZK (KYC) verification"
author: Andriian
date: "2023-04-25"
category: EIPs
tags: [erc, defi, kyc]
url: https://ethereum-magicians.org/t/erc-standard-interface-for-zk-kyc-verification/13968
views: 582
likes: 0
posts_count: 1
---

# ERC: Standard Interface for ZK (KYC) verification

A proposal for [Standard Interface for ZK verification](https://github.com/AndriianChestnykh/EIPs/blob/standard-interface-for-ZK-verification/EIPS/eip-standard-interface-for-zk-verification.md) in dApps with [reference implementation](https://github.com/0xPolygonID/erc-zk-verif-example).

It can be seen as a way to bring KYC to DeFi world keeping maximum privacy and selective information disclosure. For example, this method could enable an airdrop to users who do not reside in specific countries or are at least 18 years old. Users will not disclose neither the country of residence nor the actual age.

The idea was born in my Polygon ID team, which has some expertise in Zero-Knowlege proofs and Self-Sovereign identities. It is still in a draft stage.

We hope to start a productive discussion. Your feedback is welcome.
